<div class="container">
<h1 class="text-center"> Our Startups </h1>
<p class="lead text-center">The Startups that born from us</p>
<br>
<% if(startup.length==0) { %>
  Belum ada startup yang terdaftar...!!!!
<% } else { %>
<% for(var i=0;i<startup.length;i++) { %>
<div class="media">
  <div class="media-left">
    <a href="<%=startup[i].link%>">
      <img class="media-object img-circle" src="<%=startup[i].img%>" style="width:100px;height:100px" alt="...">
    </a>
  </div>
  <div class="media-right" style="text-align:justify">
    <h4 class="media-heading"><%=startup[i].title%></h4>
    <h5>Website Link : <a href="<%=startup[i].url%>"><%=startup[i].url%></a></h5>
    <%=startup[i].description%>
    <br><br>
    <a class="btn btn-default" href="<%=startup[i].link%>">Read More</a>
  </div>
</div>
<% } %>
<% var next = page + 1;%>
<a href="/thestartups?page=<%=next%>" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
<% } %>
</div>
