<div class="container" style="text-align:justify">
                <h1><%=startup.title%></h1>
                <hr>
                <!-- Preview Image -->
                <img class="img-responsive" src="<%=startup.img%>">
                <hr>
                <p><%=startup.description%></p>
                <hr>
                <h2>The Founders</h2>
                <% for(var i=0;i<startup.founders.length;i++) { %>
                  <div class="row">
                        <br>
                        <div class="col-md-2 col-sm-3">
                          <a class="story-img" href="#"><img src="<%=startup.founders[i][1]%>" style="width:100px;height:100px" class="img-circle"></a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                          <h3><%=startup.founders[i][0]%></h3>
                          <br><br>
                          <p style="text-align:justify"><%=startup.founders[i][2]%></p>
                        </div>
                  </div>
                <% } %>
</div>
