<div class="container" style="text-align:justify">
                <h1><%=startup.title%></h1>
                <hr>
                <!-- Preview Image -->
                <img class="img-responsive" src="/images/kolexia/banner.jpg">
                <hr>
                <h3>Website Link : <a href="<%=startup.url%>"><%=startup.url%></a></h3>
                <br>
                <h4>Description</h4>
                <p><%=startup.description%></p>
                <hr>
                <h2>The Founders</h2>
                <% for(var i=0;i<startup.founders.length;i++) { %>
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object img-circle" src="<%=startup.founders[i][1]%>" style="width:100px;height:100px" alt="...">
                      </a>
                    </div>
                    <div class="media-right" style="text-align:justify">
                      <h4 class="media-heading"><%=startup.founders[i][0]%></h4>
                      <%=startup.founders[i][2]%>
                    </div>
                  </div>
                <% } %>
</div>
